{% comment %} 
  Accepts:
    - product: {Product} The product to be shown in the card
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
<a href="{{ product.url | within: collection }}" class="product-card">
  <div class="product-card__image-container">
    {% if product.featured_image != blank %}
      <div class="product-card__image">
        {% include 'responsive-image' with
          image: product.featured_image,
          max_width: 480,
          max_height: 480
        %}
      </div>
    {% else %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
    {% endif %}

    {% comment %} 
      This should be done using the product/variant being displayed's compare_at_price. 
      
      However, since the product in the design with a lower price isn't marked as being on sale in any way, 
      I'll be just adding a roundel to the 4th product. This should be easily adaptable.
    {% endcomment %}

    {%- if forloop.index == 4 -%}
      <div class="product-card__roundel-container">
        <span class="roundel">Sale</span>
      </div>
    {%- endif -%}

    <div class="product-card__button-container">
      <span js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1" class="button secondary">Add to cart</span>
    </div>
  </div>

  <div>
    <p class="product-card__product-title">{{ product.title | escape }}</p>

    <span class="product-card__product-price">
      {% include 'product-price' %}
    </span>
  </div>
</a>