/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  margin: 0 auto;
  max-width: $grid-max-width;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: $grid-gutter/2;
    margin-right: $grid-gutter/2;
    
    @include media-query($medium-up) {
      margin-left: $grid-gutter-large/2;
      margin-right: $grid-gutter-large/2;
    }

    @include media-query($widescreen) {
      margin-left: -($grid-gutter-large/2);
      margin-right: -($grid-gutter-large/2);
    }
  }

  .featured-collection__text-content {
    flex-basis: 100%;
    text-align: center;
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;

    @include media-query($medium-up) {
      padding-left: $grid-gutter-large/2;
      padding-right: $grid-gutter-large/2;
    }

    .featured-collection__title,
    .featured-collection__subtitle {
      @include media-query($medium-up) {
        max-width: percentage(1 / 2);
        margin-left: auto;
        margin-right: auto;
      }
    }

    .featured-collection__title {
      margin-top: 59px;
      margin-bottom: 0px;
    }

    .featured-collection__subtitle {
      margin-top: 19px;
      margin-bottom: 69px;
      padding: 0 5px;
    }
  }
}